<!-- Jinja2 is used -->
<!-- opretter en mappe "templates", har vores html filer her -->


<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="static/style.css" rel="stylesheet" />
    <!-- Title sat med Jinja -->
    <title>{{ the_title }}</title>
</head>
<body>
    <h2>Create Car</h2>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <a href="create">Create</a>
            </div>
            <div class="col-3">
                <a href="index">Read</a>
            </div>
            <div class="col-3">
                <a href="update">Update</a>
            </div>
            <div class="col-3">
                <a href="delete">Delete</a>
            </div>

        </div>
    </div>



    <!-- Vores form med vores POST metode -->
    <form method="post" class="form-containger">

        <div class="form-group">

            <label for="model" class="col-sm-2 control-label">Model</label>
            <!-- Model -->
            <input type="text" name="model" id="model, exampleInputEmail1" class="model, form-control">

        </div>

        <div class="form-group">

            <label for="MaxSpeed" class="col-sm-2 control-label">MaxSpeed</label>
            <!-- MaxSpeed -->
            <input type="text" name="maxSpeed" id="maxSpeed, exampleInputEmail1" class="maxSpeed, form-control">

        </div>
        <input class="btn btn-default" type="submit" value="Submit">


    </form>

</body>
</html>